.noto-sans-tc-web {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

// ol {
//     li {
//         display: inline;
//     }
// }

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;

    a {
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-right: 20px;
        margin-left: 20px;
        color: #000000;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;

    .banner_content1 {
        max-width: 49.5%; //948px
    }

    .banner_content2 {
        width: 49.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

@media (max-width:767px) {
    .banner {
        flex-direction: column;
        align-items: center;

        .banner_content1 {
            max-width: 100%;
        }

        .banner_content2 {
            width: 100%;
        }
    }
}

.detail {
    max-width: 636px;
    line-height: 1.5;

    h2 {
        color: #1a2ccf;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 24px;
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    img {
        margin-top: 48px;
        margin-bottom: 24px;
    }

    ol {
        li {
            list-style: decimal;
        }
    }

    ul {
        li {
            list-style: disc;
        }
    }

}

.item {
    max-width: 636px; //max-width: 416px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 12px;
    margin-left: 12px;
    line-height: 1.5;

    time {
        display: block;
        margin-bottom: 4px;
    }

    .tag {
        font-size: 24px;
        display: flex;
        font-weight: bold;

        p {
            display: block;
            margin-top: 6px;
            margin-bottom: 8px;
            margin-right: 8px;
            color: #1a2ccf;
        }

        .pop {
            color: #ffffff;
            background-color: #1a2ccf;
            font-size: 16px;
            padding-top: 4px;
            padding-bottom: 4px;
            border-radius: 18px;
            padding-right: 12px;
            padding-left: 12px;
            margin-right: 0px;
        }
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

}

.pagelink {
    // text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;

    a {
        display: block;
        width: 40px;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        color: #4c4c4c;
    }

    ol {
        margin-top: 6px;
        margin-bottom: 6px;

        li {
            display: inline;
        }
    }
}

.fooder {
    max-width: 1296px;
    margin: 0 auto;

    .fooderlink {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 80px;

        a {
            font-size: 32px;
            line-height: 1.5;
            color: #000000;
        }

        @media (max-width:767px) {
            //767px
            display: none;
        }
    }

    .copyright {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;

    }

}