.noto-sans-tc-web {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul li {
  display: inline;
}

.header {
  max-width: 1296px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header a {
  font-size: 28px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;
  margin-left: 20px;
  color: #000000;
}
.header a:hover {
  color: #1a2ccf;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.banner .block-1 {
  max-width: 50%;
}
.banner .block-2 {
  width: 50%;
  color: #1a2ccf;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../img/desktop/index/Hero Section2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.banner .block-2 h1 {
  font-size: 120px;
  padding-left: 80px;
  padding-bottom: 12px;
}
.banner .block-2 h2 {
  font-size: 28px;
  padding-left: 80px;
  padding-bottom: 24px;
}
.banner .block-3 {
  max-width: 49%;
}
.banner .block-4 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner .block-4 .item {
  max-width: 636px;
}

@media (max-width: 879px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner .block-1 {
    max-width: 100%;
  }
  .banner .block-2 {
    width: 100%;
  }
  .banner .block-2 h1 {
    font-size: 52px;
    padding-left: 24px;
  }
  .banner .block-2 h2 {
    padding-left: 24px;
  }
  .banner .block-3 {
    max-width: 100%;
  }
  .banner .block-4 {
    max-width: 100%;
  }
  .banner .block-4 .item {
    max-width: 879px;
  }
}
.bloglist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
}
.bloglist ul {
  max-width: 1320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
@media (max-width: 1319px) {
  .bloglist ul {
    max-width: 880px;
  }
}
@media (max-width: 879px) {
  .bloglist ul {
    max-width: 440px;
  }
}
@media (max-width: 879px) {
  .bloglist {
    align-items: center;
  }
}

.search {
  display: flex;
  flex-wrap: wrap;
}
.search .searchitem {
  display: flex;
  align-items: center;
  border: 1px #4c4c4c solid;
  border-radius: 28px;
  padding: 15px;
}
.search .searchitem input {
  width: 262px;
  border: none;
  outline: none;
}

.item {
  max-width: 416px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 12px;
  margin-left: 12px;
}
.item img {
  margin-bottom: 16px;
}
.item time {
  display: block;
  margin-top: 6px;
  padding-bottom: 6px;
}
.item .tag {
  font-size: 24px;
  color: #1a2ccf;
}
.item .tag .pop {
  color: #ffffff;
  background-color: #1a2ccf;
  font-size: 16px;
  border-radius: 18px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.item h2 {
  font-size: 28px;
  margin-bottom: 8px;
}
.item p {
  color: #4c4c4c;
  margin-bottom: 36px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.item .link {
  border: 1px solid #808080;
  color: #4c4c4c;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 20px;
}
.item .link:hover {
  color: #ffffff;
  background-color: #4c4c4c;
}

.pagelink {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-wrap: wrap;
}
.pagelink a {
  display: block;
  width: 40px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #4c4c4c;
}
.pagelink a:hover {
  color: #1a2ccf;
}
.pagelink ul {
  margin-top: 6px;
  margin-bottom: 6px;
}
.pagelink ul li {
  display: inline;
}

.fooder {
  max-width: 1296px;
  margin: 0 auto;
}
.fooder .fooderlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.fooder .fooderlink a {
  font-size: 32px;
  color: #000000;
}
.fooder .fooderlink a:hover {
  color: #1a2ccf;
}
@media (max-width: 767px) {
  .fooder .fooderlink {
    display: none;
  }
}
.fooder .copyright {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}/*# sourceMappingURL=blog.css.map */