.noto-sans-tc-web {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.header a {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 20px;
  margin-left: 20px;
  color: #000000;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.banner .banner_content1 {
  max-width: 49.5%;
}
.banner .banner_content2 {
  width: 49.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 767px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner .banner_content1 {
    max-width: 100%;
  }
  .banner .banner_content2 {
    width: 100%;
  }
  .detail {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.detail {
  max-width: 636px;
  line-height: 1.5;
  font-weight: bolder;
}
.detail h2 {
  color: #1a2ccf;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 24px;
}
.detail h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
}
.detail img {
  margin-top: 24px;
  margin-bottom: 24px;
}
.detail ol li {
  list-style: decimal;
  list-style-position: outside;
  margin-left: 1.5em;
}
.detail ul li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1.5em;
}
.detail .tips {
  font-weight: bold;
  background-color: #ededed;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 24px;
}
.detail .detail_link {
  color: #1a2ccf;
  margin-left: 4px;
  margin-right: 4px;
}
.detail .connect {
  color: #1a2ccf;
  text-decoration: underline;
}
.detail .mb_style1 {
  margin-bottom: 8px;
}
.detail .mb_style2 {
  margin-bottom: 24px;
}
.detail .mb_style3 {
  margin-bottom: 48px;
}

.item {
  max-width: 636px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 12px;
  margin-left: 12px;
  line-height: 1.5;
}
.item time {
  display: block;
  margin-bottom: 4px;
}
.item .tag {
  font-size: 24px;
  display: flex;
  font-weight: bold;
}
.item .tag p {
  display: block;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 8px;
  color: #1a2ccf;
}
.item .tag .pop {
  color: #ffffff;
  background-color: #1a2ccf;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 18px;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 0px;
}
.item h1 {
  font-size: 28px;
  font-weight: bold;
}

.pagelink {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.pagelink a {
  display: flex;
  flex-wrap: wrap;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #4c4c4c;
  border: 1px solid #000000;
  border-radius: 40px;
  padding-left: 19px;
  padding-right: 19px;
}
.pagelink img {
  margin-top: 0px;
  margin-bottom: 0px;
}
.pagelink ol {
  margin-top: 6px;
  margin-bottom: 6px;
}
.pagelink ol li {
  display: inline;
}

.fooder {
  max-width: 1296px;
  margin: 0 auto;
}
.fooder .fooderlink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
.fooder .fooderlink a {
  font-size: 32px;
  line-height: 1.5;
  color: #000000;
}
@media (max-width: 767px) {
  .fooder .fooderlink {
    display: none;
  }
}
.fooder .copyright {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}/*# sourceMappingURL=blog_detail.css.map */